{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      1,
      "always",
      [
        "repo",
        "dotnet",
        "core",
        "utils",
        "typescript",
        "ci",
        "release"
      ]
    ],
    "type-enum": [
      1,
      "always",
      [
        "test",
        "docs",
        "chore",
        "feat",
        "fix"
      ]
    ]
  }
}
