# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules
build
# dummy fix for https://github.com/nrwl/nx/issues/20309 and https://github.com/nx-dotnet/nx-dotnet/issues/893
!packages/core/src/executors/build

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
.yarn/install-state.gz
testem.log
.npmrc
/typings

# System Files
.DS_Store
Thumbs.db

# Generated Docusaurus files
.docusaurus/
.cache-loader/
/docs/CHANGELOG.md

**/bin
**/obj

.vs
.nx/cache
.nx/workspace-data

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
nx-dotnet.sln
